.main-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #f8c408;
  border-left: 6px solid #FFD700;
  padding-left: 10px;
}

.table-heading {
  background-color: #01193825;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

.search-input {
  border: 2px solid #004aad;
  border-radius: 10px;
}

.table thead th {
  background-color: #FFD700 !important;
  color: #000;
  font-weight: 600;
}

.table tbody tr:hover {
  background-color: #f1f9ff;
  transition: 0.3s ease;
}

.btn-outline-primary {
  border-color: #004aad;
  color: #004aad;
}

.btn-outline-primary:hover {
  background-color: #004aad;
  color: white;
}

.btn-outline-warning {
  border-color: #FFD700;
  color: #FFD700;
}

.btn-outline-warning:hover {
  background-color: #FFD700;
  color: black;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}
