.subject-card {
  background-color: #fff8dc;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.subject-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card-title {
  color: #FFB300;
}

.progress-bar {
  font-weight: bold;
  color:#FFB300;
  text-align: center;
}
