.text-blue {
  color: #fdc50d;
}

.text-yellow {
  color: #FFD700;
}

.btn-blue {
  background-color: #0d6efd;
  color: #fff;
  border: none;
}

.btn-blue:hover {
  background-color: #084298;
}

.btn-black {
  background-color: #000;
  color: #fff;
  border: none;
}

.btn-black:hover {
  background-color: #333;
}

.input-yellow {
  background-color: #fff8dc;
  border: 1px solid #FFD700;
  color: #000;
}

.table-dark th {
  background-color: #FFD700 !important;
  color: #141102 !important;
}
